$fresh: #4ABDAC;
$vermillion: #FC4A1A;
$sunshine: #F7B733;
$clean: #DFDCE3;


@media (min-width: 510px) {
  .edit-form, .add-form {
    width: 500px !important;
  }
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: $fresh;
}

.App-header {
  background-color: $sunshine;
  height: 70px;
  padding: 20px;
  color: #FC4A1A;
  margin:0;
}

.App-intro {
  font-size: large;
}

.recipe-list {
  margin: 0 auto;
  color: $clean;
  padding: 10px;

  h2 {
    margin: 0;
    padding: 10px;
  }

  .recipe-list-item {
    border: 2px solid $sunshine;
    margin-top: 10px;
    text-align: center;

    ul {
      padding: 10px;
      color: $vermillion;
      font-size: 1.2em;
      list-style-type: none;
    }

    .recipe-ingredients-item {
      background-color: $clean;
      width: 100%;
      margin: auto;
      border-top: 1px solid $sunshine;
    }

    .edit-btn {
      background-color: $fresh;
      color: $clean;
      font-size: 1em;
      font-weight: bold;
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      width: 150px;
    }

    .delete-btn {
      background-color: $vermillion;
      color: $clean;
      font-size: 1em;
      font-weight: bold;
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
      width: 150px;
    }
  }
}

.add-btn {
  background-color: $clean;
  color: $fresh;
  font-size: 1em;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}

.hidden {
  display:none;
}

.dialog {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 3;
}

.form-wrapper {
  position: absolute;
  max-height: 230px;
  width: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
}

.edit-form, .add-form {
  margin: auto;
  padding-top: 20px;
  background-color: $fresh;
  border-radius: 10px;
  clear: both;
  overflow: auto;
  

  label {
    display: inline-block;
    font-weight: bold;
    width: 130px;
    padding: 10px;
  }

  input[type=text] {
    width: 280px;
  }

  input[type=submit] {
    background-color: $clean;
    color: $fresh;
    font-size: 1em;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
  }

  button {
    background-color: $clean;
    color: $vermillion;
    border: 1px solid $vermillion;
    font-size: 1em;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
  }

}


